# Analysis of TCGA-BRCA dataset

## Aims
1. Load raw data
1. Clean and transform
1. Load into SQL data base
1. Query SQL data base
1. Create Visualisaitons
1. Apply Machine Learning Model

## To get data
- `https://www.dropbox.com/scl/fo/m8mj3x6qh8k8md30lq2a7/h?rlkey=zxwo3ckqg89ith8ibzr42130c&dl=0`
    - data was pre-processed [here](https://github.com/JoshuaHarris391/Dataset_TCGA_BRCA)

```bash
rsync -avr /Users/joshuaharris/Dropbox/Research/Bioinformatics/Datasets/Dataset_TCGA_BRCA/data/Matched_Data ~/Dropbox/code/projects/Breast_Cancer_Python_Analysis/data
```

In [146]:
import pandas as pd 
import numpy as np

# Loading data sets

In [187]:
# loading datasets
clinMatchDF = pd.read_csv('data/Matched_Data/TCGA_BRCA_CLIN_MATCHED.csv')
clinMatchDF.shape

(1035, 48)

In [188]:
clinMatchDF.head()

,Unnamed: 0,CASE_ID,PATIENT_ID,FILENAME_REF,AJCC_NODES_PATHOLOGIC_PN,AJCC_PATHOLOGIC_TUMOR_STAGE,DFS_MONTHS,DFS_STATUS,ER_STATUS_BY_IHC,HER2_IHC_SCORE,...,miRNA_Clusters,methylation_Clusters,RPPA_Clusters,CN_Clusters,Integrated_Clusters_with_PAM50,Integrated_Clusters_no_exp,Integrated_Clusters_unsup_exp,Integer_Stage,SUBTYPE,SUBTYPE_NATURE
0,1,e4fc0909-f284-4471-866d-d8967b6adcbc,TCGA-E2-A14P,07b7d5d5-916e-4744-8366-9dbba5ee32bb,N3,Stage IIIC,40.93,0.0,Negative,3.0,...,4.0,1.0,Her2,3.0,1.0,1.0,1.0,3.0,HR-Neg_HER2-Pos,HR-Neg_HER2-Pos
1,2,de531604-bd1a-49df-96c2-6de3ae703f1d,TCGA-D8-A1XG,43c99312-8f57-4a49-a030-450bafc13d2a,N1a,Stage IIIB,14.72,0.0,Positive,NaN,...,1.0,2.0,NaN,3.0,NaN,NaN,NaN,3.0,HR-Pos_HER2-Neg,HR-Pos_HER2-Neg
2,3,8da3d6cf-381b-4d1b-93fa-41fd9d2b2e66,TCGA-AR-A0TW,ca75ae4d-3d90-46d7-9544-fd71dd6c87b2,N1,Stage IIIA,24.28,1.0,Positive,2.0,...,NaN,4.0,Basal,4.0,NaN,NaN,NaN,3.0,NaN,HR-Pos_HER2-Neg
3,4,2d29a4ac-98e7-4663-9dd6-5681bc32ac2e,TCGA-A2-A3KC,4a0d9b7a-427c-4446-9fbd-ebb4b55b0469,N1a,Stage IIB,36.20,0.0,Positive,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,71f97b63-c970-44ee-98c2-e02e663d5a40,TCGA-AR-A0U4,708413f6-ee3c-4379-a8a1-0143b0ac7adb,N0,Stage IIA,107.13,0.0,Negative,NaN,...,5.0,5.0,ReacII,1.0,2.0,2.0,2.0,2.0,TNBC,TNBC

In [189]:
clinMatchDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 48 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           1035 non-null   int64
 1   CASE_ID                              1035 non-null   object
 2   PATIENT_ID                           1035 non-null   object
 3   FILENAME_REF                         1035 non-null   object
 4   AJCC_NODES_PATHOLOGIC_PN             1034 non-null   object
 5   AJCC_PATHOLOGIC_TUMOR_STAGE          1023 non-null   object
 6   DFS_MONTHS                           947 non-null    float64
 7   DFS_STATUS                           947 non-null    float64
 8   ER_STATUS_BY_IHC                     985 non-null    object
 9   HER2_IHC_SCORE                       591 non-null    float64
 10  IHC_HER2                             680 non-null    object
 11  OS_MONTHS                            1033 non-null   float64
 12  OS_STATUS                            1034 non-null   float64
 13  PR_STATUS_BY_IHC                     982 non-null    object
 14  INTEGER_NODE_STATUS                  1015 non-null   float64
 15  INTEGER_STAGE                        1012 non-null   float64
 16  Gender                               787 non-null    object
 17  Age_at_Initial_Pathologic_Diagnosis  787 non-null    float64
 18  ER_Status                            749 non-null    object
 19  PR_Status                            746 non-null    object
 20  HER2_Final_Status                    735 non-null    object
 21  Tumor                                760 non-null    object
 22  Tumor_T1_Coded                       757 non-null    object
 23  Node                                 760 non-null    object
 24  Node_Coded                           760 non-null    object
 25  Metastasis                           754 non-null    object
 26  Metastasis_Coded                     754 non-null    object
 27  AJCC_Stage                           760 non-null    object
 28  Converted_Stage                      760 non-null    object
 29  Survival_Data_Form                   787 non-null    object
 30  Vital_Status                         787 non-null    object
 31  Days_to_Date_of_Last_Contact         787 non-null    object
 32  Days_to_date_of_Death                91 non-null     float64
 33  OS_event                             787 non-null    float64
 34  OS_Time                              787 non-null    float64
 35  PAM50_mRNA                           504 non-null    object
 36  SigClust_Unsupervised_mRNA           504 non-null    float64
 37  SigClust_Intrinsic_mRNA              504 non-null    float64
 38  miRNA_Clusters                       668 non-null    float64
 39  methylation_Clusters                 771 non-null    float64
 40  RPPA_Clusters                        389 non-null    object
 41  CN_Clusters                          745 non-null    float64
 42  Integrated_Clusters_with_PAM50       335 non-null    float64
 43  Integrated_Clusters_no_exp           335 non-null    float64
 44  Integrated_Clusters_unsup_exp        335 non-null    float64
 45  Integer_Stage                        739 non-null    float64
 46  SUBTYPE                              675 non-null    object
 47  SUBTYPE_NATURE                       697 non-null    object
dtypes: float64(20), int64(1), object(27)
memory usage: 388.3+ KB

#### Playing with Basic python on the clinical dataset

In [190]:
# Extracting ER status
er_stat = clinMatchDF['ER_STATUS_BY_IHC']
print(er_stat)
print(type(er_stat))

# Converting to int
print('== int conversion method 1 ==')
er_stat_int = [1 if x == "Positive" else 0 for x in er_stat]
print(er_stat_int)
type(er_stat_int)

print('converting to array')
er_stat_int_array = np.array(er_stat_int)
print(er_stat_int_array)
type(er_stat_int_array)

0       Negative
1       Positive
2       Positive
3       Positive
4       Negative
          ...
1030    Negative
1031    Positive
1032    Positive
1033    Positive
1034    Negative
Name: ER_STATUS_BY_IHC, Length: 1035, dtype: object
<class 'pandas.core.series.Series'>
== int conversion method 1 ==
[0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0]
converting to array
[0 1 1 ... 1 1 0]

numpy.ndarray

In [151]:

print('finding attributes')
dir(er_stat_int_array)

finding attributes

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__dlpack__',
 '__dlpack_device__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [191]:


print('getting dimensions of array')
print(er_stat_int_array.ndim)

print('getting size of array')
print(er_stat_int_array.size)

print('getting mean of array')
print(er_stat_int_array.mean())

print('getting max of array')
print(er_stat_int_array.max())

getting dimensions of array
1
getting size of array
1035
getting mean of array
0.7381642512077294
getting max of array
1

In [192]:
# Creating function 
def countOne(x):
    try: 
        ones = x[x==1]
        count = ones.size
        return count
    except not isinstance(x, np.ndarray):
        return print('invalid input')
    


countOne(er_stat_int_array)

764

In [193]:
# Conversion by subset
x=er_stat_int_array.copy()
x[x==1] = 5
print(er_stat_int_array)
print(x)

[0 1 1 ... 1 1 0]
[0 5 5 ... 5 5 0]

In [195]:
# Reading in raw text files
with open('data/Matched_Data/TCGA_BRCA_CLIN_MATCHED.txt', mode='r') as file:
    myFile = file.read()
    
myFile

# Reading in another file
with open('data/Matched_Data/GENE_ID_REF', mode='r') as file:
    myFile = file.readlines()
    
myFilePD = pd.DataFrame(myFile)
myFilePD.head()

                                             0
0              SYMBOL GENEID ENSEMBL_ID_FULL\n
1  TSPAN6 ENSG00000000003 ENSG00000000003.13\n
2     TNMD ENSG00000000005 ENSG00000000005.5\n
3    DPM1 ENSG00000000419 ENSG00000000419.11\n
4   SCYL3 ENSG00000000457 ENSG00000000457.12\n

### Creating object classes

In [196]:
# Creating object class that takes in float
clinMatchDFTest = clinMatchDF.copy()

In [197]:

osAll = clinMatchDFTest.loc[2, ['OS_MONTHS', 'OS_STATUS']]
osAll.info()

<class 'pandas.core.series.Series'>
Index: 2 entries, OS_MONTHS to OS_STATUS
Series name: 2
Non-Null Count  Dtype
--------------  -----
2 non-null      object
dtypes: object(1)
memory usage: 32.0+ bytes

In [199]:

osMonth = clinMatchDFTest['OS_MONTHS']
osMonth[0] = 1
clinMatchDFTest['OS_MONTHS']

/var/folders/46/lr0dgns13xqg4tcj190dxnbh0000gn/T/ipykernel_9565/2032019897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  osMonth[0] = 1

0         1.00
1        14.72
2        98.85
3        36.20
4       107.13
         ...
1030     55.58
1031     22.37
1032     12.32
1033     55.81
1034      1.12
Name: OS_MONTHS, Length: 1035, dtype: float64

## loading the rest of the data sets

In [200]:
countsDF = pd.read_csv('data/Matched_Data/TCGA_BRCA_COUNTS_DF_CLIN_MATCHED.csv')
cpmDF = pd.read_csv('data/Matched_Data/TCGA_BRCA_CPM_DF_CLIN_MATCHED.csv')
geneIdDF = pd.read_csv("data/Matched_Data/GENE_ID_REF.csv")

In [201]:
# Finding number of columns
geneIdDF.shape[1]
# removing first column
geneIdDF = geneIdDF.iloc[:,1:geneIdDF.shape[1]]
geneIdDF.head()

     SYMBOL           GENEID     ENSEMBL_ID_FULL
0    TSPAN6  ENSG00000000003  ENSG00000000003.13
1      TNMD  ENSG00000000005   ENSG00000000005.5
2      DPM1  ENSG00000000419  ENSG00000000419.11
3     SCYL3  ENSG00000000457  ENSG00000000457.12
4  C1orf112  ENSG00000000460  ENSG00000000460.15

In [202]:
# remaming first column
countsDF.rename(columns={countsDF.columns[0]: "GENEID"}, inplace=True)
# Checking counts
countsDF.head()

,GENEID,07b7d5d5-916e-4744-8366-9dbba5ee32bb,43c99312-8f57-4a49-a030-450bafc13d2a,ca75ae4d-3d90-46d7-9544-fd71dd6c87b2,4a0d9b7a-427c-4446-9fbd-ebb4b55b0469,708413f6-ee3c-4379-a8a1-0143b0ac7adb,93904035-e387-47e3-90f0-ea0d5f726dac,97f034ef-f311-475c-9d91-d6b639840ea7,02939ecf-77d0-49fc-a04b-8fd5334b44da,ff41537c-7cf5-4899-86b0-e1b2a2b7d463,...,b04f40b6-106f-4984-9bea-9c8664200098,0cae8943-749f-4314-aad0-b7f33e78c6e1,c64c76e7-635c-458e-a032-07775aeb03d9,043440ba-20d0-47b1-8589-8b89769e5cf1,46c0216c-ff17-4ebf-ad8f-b054542fc2a9,284f0774-1db5-4f86-a26c-0f967fa05d2f,87e68da8-743f-40f7-8894-fb66e474bb61,62a17809-7816-47cf-959d-f00e5ea0c3b4,f125d4a1-cb15-4729-9318-433c39c685d7,bb61735e-8207-42e2-95bb-3d2c8001595c
0,ENSG00000000003,1035,1551,1260,3209,3226,1903,3978,2492,2724,...,807,9097,2286,524,2745,7653,2190,2550,2959,690
1,ENSG00000000005,21,1,4,44,69,3,51,50,5,...,1,8,0,0,0,192,49,6,13,55
2,ENSG00000000419,4566,1537,2767,2001,2801,1622,2162,2778,3712,...,1757,1933,2980,1348,2548,2157,1783,2827,3143,2461
3,ENSG00000000457,1134,2565,2657,2505,1599,1253,1678,1770,2316,...,711,3965,4720,2775,1318,2697,1239,4952,1573,758
4,ENSG00000000460,534,949,231,979,1218,315,582,429,1261,...,379,1981,1195,728,635,614,276,1117,952,847

In [203]:
countsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60488 entries, 0 to 60487
Columns: 1036 entries, GENEID to bb61735e-8207-42e2-95bb-3d2c8001595c
dtypes: int64(1035), object(1)
memory usage: 478.1+ MB

In [204]:
cpmDF.rename(columns={cpmDF.columns[0]: "GENEID"}, inplace=True)
cpmDF.head()

,GENEID,07b7d5d5-916e-4744-8366-9dbba5ee32bb,43c99312-8f57-4a49-a030-450bafc13d2a,ca75ae4d-3d90-46d7-9544-fd71dd6c87b2,4a0d9b7a-427c-4446-9fbd-ebb4b55b0469,708413f6-ee3c-4379-a8a1-0143b0ac7adb,93904035-e387-47e3-90f0-ea0d5f726dac,97f034ef-f311-475c-9d91-d6b639840ea7,02939ecf-77d0-49fc-a04b-8fd5334b44da,ff41537c-7cf5-4899-86b0-e1b2a2b7d463,...,b04f40b6-106f-4984-9bea-9c8664200098,0cae8943-749f-4314-aad0-b7f33e78c6e1,c64c76e7-635c-458e-a032-07775aeb03d9,043440ba-20d0-47b1-8589-8b89769e5cf1,46c0216c-ff17-4ebf-ad8f-b054542fc2a9,284f0774-1db5-4f86-a26c-0f967fa05d2f,87e68da8-743f-40f7-8894-fb66e474bb61,62a17809-7816-47cf-959d-f00e5ea0c3b4,f125d4a1-cb15-4729-9318-433c39c685d7,bb61735e-8207-42e2-95bb-3d2c8001595c
0,ENSG00000000003,14.003274,20.171920,17.018915,34.460777,39.329882,26.372211,48.288266,26.363683,27.503785,...,10.764169,103.951599,19.886155,7.336230,54.224042,62.977329,30.513013,23.114462,33.240537,10.017178
1,ENSG00000000005,0.284124,0.013006,0.054028,0.472507,0.841216,0.041575,0.619080,0.528966,0.050484,...,0.013338,0.091416,0.000000,0.000000,0.000000,1.579988,0.682711,0.054387,0.146038,0.798471
2,ENSG00000000419,61.776763,19.989839,37.374077,21.488319,34.148481,22.478049,26.244151,29.389371,37.479460,...,23.435743,22.088429,25.923335,18.872591,50.332554,17.750176,24.842330,25.625327,35.307539,35.727935
3,ENSG00000000457,15.342718,33.359751,35.888299,26.900669,19.494259,17.364362,20.368957,18.725409,23.384275,...,9.483673,45.308134,41.059778,38.851216,26.035442,22.193892,17.262842,44.887378,17.670620,11.004378
4,ENSG00000000460,7.224878,12.342458,3.120134,10.513275,14.849286,4.365342,7.064799,4.538531,12.732112,...,5.055291,22.636926,10.395431,10.192319,12.543631,5.052670,3.845476,10.125041,10.694488,12.296449

In [205]:
cpmDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60488 entries, 0 to 60487
Columns: 1036 entries, GENEID to bb61735e-8207-42e2-95bb-3d2c8001595c
dtypes: float64(1035), object(1)
memory usage: 478.1+ MB

In [206]:
geneIdDF.head()

     SYMBOL           GENEID     ENSEMBL_ID_FULL
0    TSPAN6  ENSG00000000003  ENSG00000000003.13
1      TNMD  ENSG00000000005   ENSG00000000005.5
2      DPM1  ENSG00000000419  ENSG00000000419.11
3     SCYL3  ENSG00000000457  ENSG00000000457.12
4  C1orf112  ENSG00000000460  ENSG00000000460.15

In [207]:
geneIdDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60433 entries, 0 to 60432
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SYMBOL           60433 non-null  object
 1   GENEID           60433 non-null  object
 2   ENSEMBL_ID_FULL  60433 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

***
# Loading data frames into SQL data base
- using sqlite

In [208]:
import sqlite3 
conn = sqlite3.connect('data/sql/tcga_brca_sql')
conn.commit()

In [213]:
clinMatchDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 48 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           1035 non-null   int64
 1   CASE_ID                              1035 non-null   object
 2   PATIENT_ID                           1035 non-null   object
 3   FILENAME_REF                         1035 non-null   object
 4   AJCC_NODES_PATHOLOGIC_PN             1034 non-null   object
 5   AJCC_PATHOLOGIC_TUMOR_STAGE          1023 non-null   object
 6   DFS_MONTHS                           947 non-null    float64
 7   DFS_STATUS                           947 non-null    float64
 8   ER_STATUS_BY_IHC                     985 non-null    object
 9   HER2_IHC_SCORE                       591 non-null    float64
 10  IHC_HER2                             680 non-null    object
 11  OS_MONTHS                            1033 non-null   float64
 12  OS_STATUS                            1034 non-null   float64
 13  PR_STATUS_BY_IHC                     982 non-null    object
 14  INTEGER_NODE_STATUS                  1015 non-null   float64
 15  INTEGER_STAGE                        1012 non-null   float64
 16  Gender                               787 non-null    object
 17  Age_at_Initial_Pathologic_Diagnosis  787 non-null    float64
 18  ER_Status                            749 non-null    object
 19  PR_Status                            746 non-null    object
 20  HER2_Final_Status                    735 non-null    object
 21  Tumor                                760 non-null    object
 22  Tumor_T1_Coded                       757 non-null    object
 23  Node                                 760 non-null    object
 24  Node_Coded                           760 non-null    object
 25  Metastasis                           754 non-null    object
 26  Metastasis_Coded                     754 non-null    object
 27  AJCC_Stage                           760 non-null    object
 28  Converted_Stage                      760 non-null    object
 29  Survival_Data_Form                   787 non-null    object
 30  Vital_Status                         787 non-null    object
 31  Days_to_Date_of_Last_Contact         787 non-null    object
 32  Days_to_date_of_Death                91 non-null     float64
 33  OS_event                             787 non-null    float64
 34  OS_Time                              787 non-null    float64
 35  PAM50_mRNA                           504 non-null    object
 36  SigClust_Unsupervised_mRNA           504 non-null    float64
 37  SigClust_Intrinsic_mRNA              504 non-null    float64
 38  miRNA_Clusters                       668 non-null    float64
 39  methylation_Clusters                 771 non-null    float64
 40  RPPA_Clusters                        389 non-null    object
 41  CN_Clusters                          745 non-null    float64
 42  Integrated_Clusters_with_PAM50       335 non-null    float64
 43  Integrated_Clusters_no_exp           335 non-null    float64
 44  Integrated_Clusters_unsup_exp        335 non-null    float64
 45  Integer_Stage                        739 non-null    float64
 46  SUBTYPE                              675 non-null    object
 47  SUBTYPE_NATURE                       697 non-null    object
dtypes: float64(20), int64(1), object(27)
memory usage: 388.3+ KB

In [215]:
# Removing duplicated colnames
clinMatchDF.drop('Integer_Stage', axis='columns', inplace=True)
clinMatchDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 47 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           1035 non-null   int64
 1   CASE_ID                              1035 non-null   object
 2   PATIENT_ID                           1035 non-null   object
 3   FILENAME_REF                         1035 non-null   object
 4   AJCC_NODES_PATHOLOGIC_PN             1034 non-null   object
 5   AJCC_PATHOLOGIC_TUMOR_STAGE          1023 non-null   object
 6   DFS_MONTHS                           947 non-null    float64
 7   DFS_STATUS                           947 non-null    float64
 8   ER_STATUS_BY_IHC                     985 non-null    object
 9   HER2_IHC_SCORE                       591 non-null    float64
 10  IHC_HER2                             680 non-null    object
 11  OS_MONTHS                            1033 non-null   float64
 12  OS_STATUS                            1034 non-null   float64
 13  PR_STATUS_BY_IHC                     982 non-null    object
 14  INTEGER_NODE_STATUS                  1015 non-null   float64
 15  INTEGER_STAGE                        1012 non-null   float64
 16  Gender                               787 non-null    object
 17  Age_at_Initial_Pathologic_Diagnosis  787 non-null    float64
 18  ER_Status                            749 non-null    object
 19  PR_Status                            746 non-null    object
 20  HER2_Final_Status                    735 non-null    object
 21  Tumor                                760 non-null    object
 22  Tumor_T1_Coded                       757 non-null    object
 23  Node                                 760 non-null    object
 24  Node_Coded                           760 non-null    object
 25  Metastasis                           754 non-null    object
 26  Metastasis_Coded                     754 non-null    object
 27  AJCC_Stage                           760 non-null    object
 28  Converted_Stage                      760 non-null    object
 29  Survival_Data_Form                   787 non-null    object
 30  Vital_Status                         787 non-null    object
 31  Days_to_Date_of_Last_Contact         787 non-null    object
 32  Days_to_date_of_Death                91 non-null     float64
 33  OS_event                             787 non-null    float64
 34  OS_Time                              787 non-null    float64
 35  PAM50_mRNA                           504 non-null    object
 36  SigClust_Unsupervised_mRNA           504 non-null    float64
 37  SigClust_Intrinsic_mRNA              504 non-null    float64
 38  miRNA_Clusters                       668 non-null    float64
 39  methylation_Clusters                 771 non-null    float64
 40  RPPA_Clusters                        389 non-null    object
 41  CN_Clusters                          745 non-null    float64
 42  Integrated_Clusters_with_PAM50       335 non-null    float64
 43  Integrated_Clusters_no_exp           335 non-null    float64
 44  Integrated_Clusters_unsup_exp        335 non-null    float64
 45  SUBTYPE                              675 non-null    object
 46  SUBTYPE_NATURE                       697 non-null    object
dtypes: float64(19), int64(1), object(27)
memory usage: 380.2+ KB

In [216]:
# Adding tables
clinMatchDF.to_sql("clinical", con=conn, if_exists="replace")
cpmDF.to_sql("cpm", con=conn, if_exists="replace")
countsDF.to_sql("counts", con=conn, if_exists="replace")

60488

## Doing Basic Queries

In [225]:
query = 'SELECT INTEGER_STAGE, OS_EVENT, OS_TIME from clinical where OS_EVENT = 1'
queryDF = pd.read_sql_query(query, con=conn)
queryDF.head()

   INTEGER_STAGE  OS_event   OS_Time
0            1.0       1.0  2.523288
1            4.0       1.0  3.736986
2            2.0       1.0  6.635616
3            4.0       1.0  1.673973
4            2.0       1.0  7.819178